@model NorthwindWeb.Models.Order_Details

@{
    ViewBag.Title = "Adauga";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <h2>Adauga</h2>
    <hr />
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink("Dashboard", "Home", "Dashboard")
        </li>
        <li>
            @Html.ActionLink("Comenzi", "Index", "Orders")
        </li>
        <li>
            @Html.ActionLink("Detalii", "Details", "Orders", new { id = ViewBag.OrderID }, null)
        
        </li>
        <li class="active">Adauga</li>
        </ol>

        @using (Html.BeginForm("Create", "OrderDetail", FormMethod.Post, htmlAttributes: new { @class = "ord-form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Detalii comanda</h4>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <span class="control-label col-md-2 bold"><strong>Nume Produs</strong></span>
                    <div class="col-md-10">
                        @Html.DropDownList("ProductID", (IEnumerable<SelectListItem>)ViewBag.ProductID, htmlAttributes: new { @class = "form" })
                        @Html.ValidationMessageFor(model => model.ProductID)
                    </div>
                </div>

                <div class="form-group">
                    <span class="control-label col-md-2 bold"><strong>Cantitate</strong></span>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Quantity)
                        @Html.ValidationMessageFor(model => model.Quantity)
                    </div>
                </div>

                <div class="form-group">
                    <span class="control-label col-md-2 bold"><strong>Discount</strong></span>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Discount)
                        @Html.ValidationMessageFor(model => model.Discount)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Adauga" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Inapoi", "Details", "Orders",new { id = ViewBag.OrderID }, new { @class = "btn btn-default" })   
           
        </div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
