@model NorthwindWeb.Models.Order_Details

@{
    ViewBag.Title = "Detalii";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



    <h2>Detalii</h2>

    <div>
        <h4>Detalii Comanda</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               ID-ul clientului
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.CustomerID)
            </dd>

            <dt>
               Nume Produs
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>

            <dt>
                 Pret Unitar
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>

            <dt>
                Cantitate
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                Discount
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Discount)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifica", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <button class="btn btn-default crudFormButtonLeftOfSearch">
            @Html.ActionLink("Inapoi", "Details", "Orders",
             new { id = ViewBag.orderid }, htmlAttributes: new { style = "text-decoration: none;color:black;" })
    </button>
    </p>


