@model PagedList.IPagedList<NorthwindWeb.Models.Order_Details>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container">

    <h2>Detalii comenzi</h2>

    <p>
        @Html.ActionLink("Adauga", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Order.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Discount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.ActionLink("Modifica", "Edit", new { OrderID = item.OrderID, ProductID = item.ProductID}) |
                    @Html.ActionLink("Detalii", "Details", new { OrderID = item.OrderID, ProductID = item.ProductID }) |
                    @Html.ActionLink("Sterge", "Delete", new { OrderID = item.OrderID, ProductID = item.ProductID })
                </td>
            </tr>
        }

    </table>
    <div class="row text-center">
        <div class="col-lg-12">
            Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) din @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", "OrderDetail", new { page }))
        </div>
    </div>

</div>
