@model PagedList.IPagedList<NorthwindWeb.ViewModels.ViewProductCategoryS>
@using PagedList.Mvc;
@{int itemCount = Model.Count; }
<div class="container whiterounded coloronwhite">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Products
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">@ViewBag.title</li>
            </ol>
        </div>
    </div>
    @{
        for (int i = 0; i < itemCount; i += 2)
        {
            <div class="row productdiv">
                <div class="col-md-6 portfolio-item" style="display:block">
                    <img src="/Images/@Model.ElementAt(i).CategoryName/@(Model.ElementAt(i).ProductID).jpg" class="img-responsive products col-md-6">
                    <ul class="col-md-6">
                        <li class="textlarge"><strong>@Model.ElementAt(i).ProductName</strong></li>
                        <li class="textlarge"><strong>Pret: @Decimal.Round(Model.ElementAt(i).ProductPrice, 2)</strong></li>
                        <li><strong>Categorie: @Model.ElementAt(i).CategoryName</strong></li>
                        <li><strong>Furnizor: @Model.ElementAt(i).SuppliersName</strong></li>
                        <li><strong>In Stoc: @Model.ElementAt(i).Stock</strong></li>
                        <li><strong>In Comenzi: @Model.ElementAt(i).OnOrder</strong></li>
                    </ul>
                </div>
                @if (i + 1 < itemCount)
                {
                    <div class="col-md-6 portfolio-item">

                        <img src="/Images/@Model.ElementAt(i + 1).CategoryName/@(Model.ElementAt(i+1).ProductID).jpg" class="img-responsive contentcenter products col-md-6">

                        <ul class="col-md-6">
                            <li class="textlarge"><strong>@Model.ElementAt(i + 1).ProductName</strong></li>
                            <li class="textlarge"><strong>Pret: @Decimal.Round(Model.ElementAt(i + 1).ProductPrice, 2)</strong></li>
                            <li><strong>Categorie: @Model.ElementAt(i + 1).CategoryName</strong></li>
                            <li><strong>Furnizor: @Model.ElementAt(i + 1).SuppliersName</strong></li>
                            <li><strong>In Stoc: @Model.ElementAt(i + 1).Stock</strong></li>
                            <li><strong>In Comenzi: @Model.ElementAt(i + 1).OnOrder</strong></li>
                        </ul>
                    </div>
                }
            </div>
            <hr />
        }
    }
    <hr>
    <div class="row text-center">
        <div class="col-lg-12">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Products", "Products",
            new { category = ViewBag.title, page }))
        </div>
    </div>
</div>