@model PagedList.IPagedList<NorthwindWeb.Models.Products>
@using PagedList.Mvc;
@{int itemCount = Model.Count; }
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Products
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">@ViewBag.title, page @ViewBag.page</li>
            </ol>
        </div>
    </div>
    @{
        for (int i = 0; i < itemCount; i += 2)
        {
            <div class="row">
                <div class="col-md-6 portfolio-item">
                    <img src="@Model.ElementAt(i).img" class="img-responsive contentcenter products">
                    <h3 class="text-center">
                        @Model.ElementAt(i).ProductName <br />
                        <span class="price"> @Decimal.Round((decimal)Model.ElementAt(i).UnitPrice, 2) Lei</span>
                    </h3>
                        <a href=@Url.Action("AddToCart","Products")>
                            <span class="cartprod glyphicon glyphicon-shopping-cart "></span>
                        </a>
                </div>
                @if (i + 1 < itemCount)
                {
                    <div class="col-md-6 portfolio-item">
                        <img src="@Model.ElementAt(i + 1).img" class="img-responsive contentcenter products">
                        <h3 class="text-center">
                            @Model.ElementAt(i + 1).ProductName <br />
                            <span class="price"> @Decimal.Round((decimal)Model.ElementAt(i + 1).UnitPrice, 2) Lei</span>
                        </h3>
                            <a href=@Url.Action("AddToCart","Products")>
                                <span class="glyphicon glyphicon-shopping-cart cartprod"></span>
                            </a>
                    </div>
                }
            </div>
            <hr />
        }
    }
    <hr>
    <div class="row text-center">
        <div class="col-lg-12">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Search", "Products",
            new { search = ViewBag.search, page }))
        </div>
    </div>
</div>