@model NorthwindWeb.ViewModels.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@{
    ViewBag.Title = "Modificare";
   
}

<hgroup class="title">
    <h2>Schimbare cont existent.</h2>
</hgroup>
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Dashboard", "Home", "Dashboard")
    </li>
    <li>
        @Html.ActionLink("Utilizatorii", "Index", "Account")
    </li>
    <li class="active">Manage</li>
</ol>
<div class="row">

    <section id="ChangeForm">


        @using (Html.BeginForm("ChangeUser", "Account", FormMethod.Post, new {enctype = "multipart/form-data" }))
        { <div class="row">
              @*@Html.DropDownList("name", ViewData["name"] as System.String, "Alege un user", new { @style = "font-size:150%" })*@
              
            
                @Html.AntiForgeryToken()
                <h4>&nbsp;&nbsp;&nbsp;&nbsp;Modificare utilizator @ViewBag.UserName</h4>
                <hr />
                <div class="form-group col-md-4 embed-responsive-4by3">
                    <img src="/images/@(ViewBag.UserName).jpg" onerror="this.src='/images/default.png'" style="max-width:100%;max-height:100%;">
                    <input type="hidden" value="@(ViewBag.UserName)" name="Name" />
                </div>
                <div class="col-md-8">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                       
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2  control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autofocus = "true" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <div class="from-group">
                      
                        <span class="control-label col-md-2 bold"><strong>Schimba imaginea</strong></span>
                      
                        <div class="col-md-10">
                            <input type="file" id="filechooser" accept="image/*" name="UserImage">
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-7">
                            <input type="submit" value="Modificare" class="btn btn-default" />
                            @Html.ActionLink("Inapoi", "Index", "Account", new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        }

    </section>


</div>





<!--@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}-->
