@model NorthwindWeb.ViewModels.RoleInfoViewModel 

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "Creaza Rol";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>

</hgroup>
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Dashboard", "Home", "Dashboard")
    </li>
    <li>
        @Html.ActionLink("Roluri", "RolesIndex", "Account")
    </li>
    <li class="active">Membrii</li>
</ol>
<hr />
    <h2>Creaza un rol nou.</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Informatii rol</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name) 
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, htmlAttributes: new { style = "text-decoration:none; color:#333" }) 
            @Html.ValidationMessageFor(model => model.Name) 
        </div>
        <br />
        <p>
            <input class="btn btn-default" type="submit" value="Creare" />
            @Html.ActionLink("Inapoi", "RolesIndex", "Account", new { @class = "btn btn-default" })
        </p>
    </fieldset>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

