@model NorthwindWeb.ViewModels.RoleInfoViewModel 

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "Creaza Rol";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Creaza un rol nou.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Informatii rol</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name) 
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, htmlAttributes: new { style = "text-decoration:none; color:#333" }) 
            @Html.ValidationMessageFor(model => model.Name) 
        </div>

        <p>
            <input class="btn btn-default" type="submit" value="Creare" />
        </p>
    </fieldset>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

