@{
    ViewBag.Title = "Delete User";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model NorthwindWeb.ViewModels.UserInfoViewModel

<h2>Sterge</h2>
<hr />
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Dashboard", "Home", "Dashboard")
    </li>
    <li>
        @Html.ActionLink("Utilizatorii", "Index", "Account")
    </li>
    <li class="active">Sterge</li>
</ol>

<h3>Esti sigur ca vrei sa-l stergi?</h3>
<div>
    <h4>User</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
           User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
           Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-1">
            @Html.ActionLink("Sterge", "Delete", new { userName = Model.UserName },new { @class= "btn btn-default" })  
            @Html.ActionLink("Inapoi", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>

