@model NorthwindWeb.ViewModels.ChangePasswordViewModel
@{
    ViewBag.user = Request["userName"]== null ? ViewBag.user : Request["userName"].ToString();
    ViewBag.Title = "Detalii cont utilizator " + ViewBag.user;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>In acest moment sunteti locat ca <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@*
<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login(facebook,twiter,etc)</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
*@

@section Scripts {
    <!--@Scripts.Render("~/bundles/jqueryval")-->
}
