@model NorthwindWeb.Models.Suppliers

@{
    ViewBag.Title = "Detalii";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Detalii</h2>
<hr />
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Dashboard", "Home", "Dashboard")
    </li>
    <li>
        @Html.ActionLink("Furnizori", "Index", "Suppliers")
    </li>
    <li class="active">Detalii</li>
</ol>
<div>
    <h4>Furnizori</h4>
    <hr />
    
    <dl class="dl-horizontal form-group">
        <dt>
           Nume Companie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)<br />
        </dd>

        <dt>
           Nume Contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)<br />
        </dd>

        <dt>
            Pozitie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactTitle)<br />
        </dd>

        <dt>
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)<br />
        </dd>

        <dt>
            Oras
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)<br />
        </dd>

        <dt>
            Regiune
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)<br />
        </dd>

        <dt>
            Cod Postal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)<br />
        </dd>

        <dt>
            Tara
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)<br />
        </dd>

        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)<br />
        </dd>

        <dt>
            Fax
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)<br />
        </dd>

        <dt>
            Site
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePage)<br />
        </dd>
        <dt>
            @Html.ActionLink("Modifica", "Edit", "Suppliers", new { id = Model.SupplierID }, new { @class = "btn btn-default" })
        </dt>
        <dd>
            @Html.ActionLink("Inapoi", "Index", "Suppliers", null, new { @class = "btn btn-default" })
        </dd>
    </dl>
</div>

   
   

