@model NorthwindWeb.Models.Suppliers

@{
    ViewBag.Title = "Detalii";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Detalii</h2>

<div>
    <h4>Furnizori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nume Companie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
           Nume Contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            Pozitie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactTitle)
        </dd>

        <dt>
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Oras
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            Regiune
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            Cod Postal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            Tara
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Fax
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            Site
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.SupplierID }) |
    @Html.ActionLink("Inapoi", "Index")
</p>
