@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model NorthwindWeb.ViewModels.Dashboard.DashboardSearchData
@{
    ViewBag.Title = "Search";
}
@using PagedList.Mvc;
<!--Test checks if there are no matches for the search-->
@if ((Model.MatchesFound.Count() == 1) && (Model.MatchesFound.First().Controller == "Dashboard"))
{
    <a href="@Url.Action("Home", Model.MatchesFound.First().Controller, null)" class="list-group-item">
        @Html.DisplayFor(modelItem => Model.MatchesFound.First().WhereFound)
        
    </a>
}
//if exist marches
else
{<h1>@Model.MatchesCount Rezultate</h1>
    foreach (var item in Model.MatchesFound)
    {
        <a href="@Url.Action("Details", item.Controller, new { id = item.ID }, null)" class="list-group-item">
            @Html.DisplayFor(modelItem => item.Position) @Html.DisplayFor(modelItem => item.WhereFound)
            <span class="pull-right text-muted small">
                <em>@item.Controller</em>
            </span>
        </a>
}
}

Pagina @(Model.MatchesFoundPaged.PageCount < Model.MatchesFoundPaged.PageNumber ? 0 : Model.MatchesFoundPaged.PageNumber) din @Model.MatchesFoundPaged.PageCount
@Html.PagedListPager(Model.MatchesFoundPaged, page => Url.Action("Search", new { page, currentFilter = ViewBag.CurrentFilter }))


