@model NorthwindWeb.Models.Shippers

@{
    ViewBag.Title = "Detalii";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Detalii</h2>
<hr />
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Dashboard", "Home", "Dashboard")
    </li>
    <li>
        @Html.ActionLink("Expeditori", "Index", "Shippers")
    </li>
    <li class="active">Detalii</li>
</ol>
<div>
    <h4>Expeditori</h4>
    <hr />
  
    <dl class="dl-horizontal">
        <dt>
            Nume Companie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)<br />
        </dd>

        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)<br />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Inapoi", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Modifica", "Edit", new { id = Model.ShipperID } ,new { @class = "btn btn-default" })
</p>   

