@model NorthwindWeb.ViewModels.ReportLoginViewModel
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Login pentru serverul de Rapoarte @System.Configuration.ConfigurationManager.AppSettings.Get("ReportServer")</h2>
<p class="text-danger">@ViewBag.ErrorMessage</p>

@using (Html.BeginForm("Index", "Reports", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m=>m.Username,"Nume utilizator", new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m=>m.Username, new { @class = "form-control", autofocus = "true", required = "required" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.Password, "Parola", new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" ,required="required"})
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
            <input type="submit" value="Log in" class="btn btn-default" />
        </div>
    </div>
}
