@model NorthwindWeb.Models.Products

@{
    ViewBag.Title = "Adauga";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container crudstyle">
    <h2>Adauga</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Produs</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                <span class="control-label col-md-2 bold"><strong>Nume Produs</strong></span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductName)
                    @Html.ValidationMessageFor(model => model.ProductName)
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2 bold"><strong>Furnizor</strong></span>
                <div class="col-md-10">
                    @Html.DropDownList("SupplierID", String.Empty)
                    @Html.ValidationMessageFor(model => model.SupplierID)
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2 bold"><strong>Categorie</strong></span>
                <div class="col-md-10">
                    @Html.DropDownList("CategoryID", String.Empty)
                    @Html.ValidationMessageFor(model => model.CategoryID)
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2 bold"><strong>Cantitate</strong></span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QuantityPerUnit)
                    @Html.ValidationMessageFor(model => model.QuantityPerUnit)
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2 bold"><strong>Pret</strong></span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UnitPrice)
                    @Html.ValidationMessageFor(model => model.UnitPrice)
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2 bold"><strong>In Stoc</strong></span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UnitsInStock)
                    @Html.ValidationMessageFor(model => model.UnitsInStock)
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2 bold"><strong>Pe Comenzi</strong></span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UnitsOnOrder)
                    @Html.ValidationMessageFor(model => model.UnitsOnOrder)
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2 bold"><strong>Stoc Limita</strong></span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReorderLevel)
                    @Html.ValidationMessageFor(model => model.ReorderLevel)
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2 bold"><strong>Indisponibil</strong></span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Discontinued)
                    @Html.ValidationMessageFor(model => model.Discontinued)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Creaza" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Inapoi", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>