@model NorthwindWeb.Models.Products

@{
    ViewBag.Title = "Sterge";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<h2>Sterge</h2>
<hr />
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Dashboard", "Home", "Dashboard")
    </li>
    <li>
        @Html.ActionLink("Produse", "Index", "Product")
    </li>
    @{
        string category = Request.QueryString["category"] ?? "";
        if (!String.IsNullOrEmpty(category))
        {
            <li>
                @Html.ActionLink(category, "Index", "Product", new { category = category }, null)
            </li>
        }
    }
    <li class="active">Sterge</li>
</ol>

<h3>Esti sigur ca vrei sa-l stergi?</h3>
<div class="row">
    <div class="col-lg-4">
        <h4>Produs</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nume Categorie
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)<br />
            </dd>

            <dt>
                Nume Furnizor
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Supplier.CompanyName)<br />
            </dd>

            <dt>
                Nume Produs
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)<br />
            </dd>

            <dt>
                Cantitate
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuantityPerUnit)<br />
            </dd>

            <dt>
                Pret
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitPrice)<br />
            </dd>

            <dt>
                In Stoc
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitsInStock)<br />
            </dd>

            <dt>
                Pe Comnezi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitsOnOrder)<br />
            </dd>

            <dt>
                Stoc limita
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReorderLevel)<br />
            </dd>

            <dt>
                Indisponibil
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Discontinued)<br />
            </dd>

        </dl>
        @using (Html.BeginForm("Delete", "Product", new { id = Model.ProductID}, FormMethod.Post, htmlAttributes: new { @class = "col-lg-12" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sterge" class="btn btn-default" /> |
                @Html.ActionLink("Inapoi", "Index", new { category = category, search = Request.QueryString["search"] ?? "" }, new { @class = "btn btn-default" })
            </div>
            <br />
        }
    </div> 
    <div class="col-lg-8">
        <img src="~/Images/@Model.Category.CategoryName/@(Model.ProductID).jpg" class="img-responsive" />
    </div>
    
</div>
