@model NorthwindWeb.Models.Products

@{
    ViewBag.Title = "Detalii";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<h2>Detalii</h2>

<div>
    <h4>Produs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nume Categorie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            Nume Furnizor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.CompanyName)
        </dd>

        <dt>
            Nume Produs
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Cantitate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityPerUnit)
        </dd>

        <dt>
            Pret
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            In Srtoc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>

        <dt>
            Pe Comenzi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsOnOrder)
        </dd>

        <dt>
            Stoc limita
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>

        <dt>
            Indisponibil
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discontinued)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Inapoi", "Index")
</p>
