@model List<NorthwindWeb.Models.Products>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Produse";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<h2>Produse</h2>

<p>
    <button class="btn btn-default">@Html.ActionLink("Adauga Produs", "Create", null, htmlAttributes: new { style = "text-decoration: none;color:black;" })</button>
</p>
<table id="MyTable" class="table">
    <thead>
        <tr>
            <th>
                Nume Categorie
            </th>
            <th>
                Nume Produs
            </th>
            <th>
                Pret
            </th>
            <th>
                In Stoc
            </th>
            <th>
                Pe Comezi
            </th>
            <th>
                Stoc limita
            </th>
            <th>
                Indisponibil
            </th>
            <th>
                Optiuni
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.ActionLink(item.ProductName, "Details", new { id = item.ProductID })
                    @*@Html.DisplayFor(modelItem => item.ProductName)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discontinued)
                </td>
                <td>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Sterge", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }
    </tbody>

</table>
@*<div class="row text-center">
    <div class="col-lg-12">
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) din @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", "Product", new { category = ViewBag.category, page }))
    </div>
</div>*@