@model PagedList.IPagedList<NorthwindWeb.Models.Customers>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Clienti";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container crudstyle">
    <h2>Clienti</h2>

    <p>
        <button class="btn btn-default">@Html.ActionLink("Adauga Client", "Create", null, htmlAttributes: new { style = "text-decoration: none;color:black;" })</button>
        
    </p>
    <table class="table">
        <tr>
            <th>
                Nume Companie
            </th>
            <th>
                Nume Contact
            </th>
            <th>
                Pozitie
            </th>
            <th>
                Oras
            </th>
            <th>
                Tara
            </th>
            <th>
                Telefon
            </th>

            <th>
                Optiuni
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.CustomerID }) |
                    @Html.ActionLink("Detalii", "Details", new { id = item.CustomerID }) |
                    @Html.ActionLink("Sterge", "Delete", new { id = item.CustomerID })
                </td>
            </tr>
        }

    </table>
    <div class="row text-center">
        <div class="col-lg-12">
            Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) din @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", "Customers", new { page }))
        </div>
    </div>

</div>