@model NorthwindWeb.Models.Region

@{
    ViewBag.Title = "Sterge";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <h2>Sterge</h2>
    <hr />
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink("Dashboard", "Home", "Dashboard")
        </li>
        <li>
            @Html.ActionLink("Regiuni", "Index", "Regions")
        </li>
        <li class="active">Sterge</li>
    </ol>

    <h3>Sigur doresti sa stergi?</h3>
    <div>
        <h4>Regiune</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Descriere Regiune
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegionDescription)<br />
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Inapoi", "Index", "Regions", new { @class = "btn btn-default" })
                <input type="submit" value="Sterge" class="btn btn-default" /> 
            </div>
           
        }
       
    </div>
