@model NorthwindWeb.ViewModels.RegionIndex

@{
    ViewBag.Title = "Detalii";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


    <h2>Detalii</h2>
    <hr />
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink("Dashboard", "Home", "Dashboard")
        </li>
        <li>
            @Html.ActionLink("Regiuni", "Index", "Regions")
        </li>
        <li class="active">Detalii</li>
    </ol>

    <div>
        <div class="col-md-6">
            <h4>Regiune</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                   ID Regiune
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.region.RegionID)<br />
                </dd>
                <dt>
                    Descriere Regiune
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.region.RegionDescription)<br />
                </dd>

            </dl>
            <p>
                @Html.ActionLink("Inapoi la lista", "Index", "Regions", new { @class = "btn btn-default" })
                @Html.ActionLink("Modifica", "Edit", new { id = Model.region.RegionID }, new { @class = "btn btn-default" })
            </p>
        </div>
        <div class="col-md-6">
            <h4>Teritorii</h4>
            <hr />
            @Html.ActionLink("Adauga", "Create", "Territories", new { id = ViewBag.RegionID }, new { @class = "btn btn-default" })
            <hr />
            @foreach (var y in Model.details)
            {
                <dl class="dl-horizontal">
                    <dt><br />
                        Teritorii
                    </dt>
                    <dd><br />
                        @y.TerritoryID<br />
                    </dd>
                    <dt>
                        Descriere teritorii
                    </dt>
                    <dd>
                        @y.TerritoryDescription<br />
                    </dd>
                </dl>

                <p>
                    <br />
                    @Html.ActionLink("Modifica", "Edit", "Territories", new { id = @y.TerritoryID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Sterge", "Delete", "Territories", new { id = @y.TerritoryID }, new { @class = "btn btn-default" })
                </p>
            }
            
        </div>
    </div>


