@model IEnumerable<NorthwindWeb.Models.Region>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <div class="container">

        <h2>Regiuni</h2>

        <p>
            @Html.ActionLink("Adauga", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    Regiune
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegionDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Modifica", "Edit", new { id = item.RegionID }) |
                        @Html.ActionLink("Detalii", "Details", new { id = item.RegionID }) |
                        @Html.ActionLink("Sterge", "Delete", new { id = item.RegionID })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

