@model NorthwindWeb.ViewModels.Orders.OrderDetali

@{
    ViewBag.Title = "Sterge";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <h2>Sterge</h2>
    <hr />
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink("Dashboard", "Home", "Dashboard")
        </li>
        <li>
            @Html.ActionLink("Comenzi", "Index", "Orders")
        </li>
        <li class="active">Sterge</li>
    </ol>

    <h3>Sigur doresti sa stergi aceasta comanda si detaliile ei?</h3>
    <div>
    <div class="col-md-6">
        <h4>Comenzi</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Id Comanda
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.OrderID)<br />
            </dd>

            <dt>
                Companie
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.Customer.CompanyName)<br />
            </dd>

            <dt>
                Prenume
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.Employee.LastName)<br />
            </dd>

            <dt>
                Nume Companie
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.Shipper.CompanyName)<br />
            </dd>

            <dt>
                Data livrarii
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.ShippedDate)<br />
            </dd>

            <dt>
                Nume Expeditor
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.ShipName)<br />
            </dd>

            <dt>
                Adresa livrarii
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.ShipAddress)<br />
            </dd>

            <dt>
                Oras
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.ShipCity)<br />
            </dd>

            <dt>
                Tara
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.ShipCountry)<br />
            </dd>

        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Inapoi la lista", "Index", "Orders", new { @class = "btn btn-default" }) | 
                <input type="submit" value="Sterge" class="btn btn-default" />
            </div>
        }
      </div>
        <div class="col-md-6">
            <h4>Detalii Comanda</h4>
            <hr />
            @foreach (var y in Model.Details)
            {
                <dl class="dl-horizontal">

                    <dt>
                        Id-ul Produsului
                    </dt>

                    <dd>
                        @y.ProductID<br />
                    </dd>

                    <dt>
                        Cantitate
                    </dt>

                    <dd>
                        @y.Quantity<br />
                    </dd>

                    <dt>
                        Preț unitar
                    </dt>

                    <dd>
                        @decimal.Round(y.UnitPrice ?? 0, 2).ToString() lei<br />
                    </dd>

                    <dt>
                        Discount
                    </dt>

                    <dd>
                        @y.Discount<br />
                    </dd>
                </dl>
            }

        </div>

        
    </div>

