@model NorthwindWeb.ViewModels.Orders.OrderDetali

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container">

    <h2>Details</h2>

    <div>
        <div class="col-md-6">
            <h4>Orders</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.order.Customer.CompanyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.Customer.CompanyName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.Employee.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.Employee.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.Shipper.CompanyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.Shipper.CompanyName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.ShippedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.ShippedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.ShipName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.ShipName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.ShipAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.ShipAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.ShipCity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.ShipCity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.ShipCountry)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.ShipCountry)
                </dd>

            </dl>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.order.OrderID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
        <div class="col-md-6">
            <h4>Order_Details</h4>
            <hr />
           @foreach (var y in Model.details)
           {
              <dl class="dl-horizontal">
                <dt>
                    OrderID 
                </dt>

                <dd>
                    @y.OrderID
                </dd>

                <dt>
                    ProductID 
                </dt>

                <dd>
                    @y.ProductID
                </dd>

                <dt>
                    Quantity 
                </dt>

                <dd>
                   @y.Quantity
                </dd>

                <dt>
                    UnitPrice 
                </dt>

                <dd>
                    @y.UnitPrice
                </dd>

                <dt>
                    Discount 
                </dt>

                <dd>
                    @y.Discount
                </dd> 
                  <p>
                      @Html.ActionLink("Edit", "Edit2", new { OrderID = @y.OrderID, ProductID = @y.ProductID })
                  </p>
            </dl>
           }
            <p>
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>


</div>
