@model NorthwindWeb.ViewModels.Orders.OrderDetali

@{
    ViewBag.Title = "Detalii";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container">

    <h2>Detalii</h2>

    <div>
        <div class="col-md-6">
            <h4>Comenzi</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model=>model.order.OrderID)
                </dt>
                <dd>
                    @Html.DisplayFor(model=>model.order.OrderID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.order.Customer.CompanyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.Customer.CompanyName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.Employee.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.Employee.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.Shipper.CompanyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.Shipper.CompanyName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.ShippedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.ShippedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.ShipName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.ShipName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.ShipAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.ShipAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.ShipCity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.ShipCity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order.ShipCountry)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order.ShipCountry)
                </dd>

            </dl>

            <p>
                @Html.ActionLink("Modifica", "Edit", new { id = Model.order.OrderID }) |
                @Html.ActionLink("Inapoi la lista", "Index")
            </p>
        </div>
        <div class="col-md-6">
            <h4>Detalii Comanda</h4>
            <hr />
            @Html.ActionLink("Adauga", "Create", "OrderDetail",new { id=ViewBag.orderid },null)
            <hr />
           @foreach (var y in Model.details)
           {
              <dl class="dl-horizontal">

                <dt>
                    ProductID 
                </dt>

                <dd>
                    @y.ProductID
                </dd>

                <dt>
                    Quantity 
                </dt>

                <dd>
                   @y.Quantity
                </dd>

                <dt>
                    UnitPrice 
                </dt>

                <dd>
                    @decimal.Round(y.UnitPrice ?? 0, 2).ToString() lei
                </dd>

                <dt>
                    Discount 
                </dt>

                <dd>
                    @y.Discount
                </dd> 
                  <p>
                      @Html.ActionLink("Modifica", "Edit","OrderDetail", new { OrderID = @y.OrderID, ProductID = @y.ProductID },null ) |
                      @Html.ActionLink("Sterge", "Delete", "OrderDetail", new { OrderID = @y.OrderID, ProductID = @y.ProductID }, null)
                  </p>
            </dl>
           }
           

            <p>
                @Html.ActionLink("Inapoi la lista", "Index")
            </p>
        </div>
    </div>


</div>
