@model NorthwindWeb.Models.Orders

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2>Edit</h2>


    @using (Html.BeginForm("Edit", "Orders", FormMethod.Post, htmlAttributes: new { @class = "ord-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Orders</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.OrderID)

            <div class="form-group">
                @Html.LabelFor(model => model.CustomerID, "CustomerName", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CustomerID", (IEnumerable<SelectListItem>)ViewBag.CustomerID, htmlAttributes: new { @class = "form" })
                    @Html.ValidationMessageFor(model => model.CustomerID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeID, "EmployeeName", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("EmployeeID", (IEnumerable<SelectListItem>)ViewBag.EmployeeID, htmlAttributes: new { @class = "form" })
                    @Html.ValidationMessageFor(model => model.EmployeeID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OrderDate)
                    @Html.ValidationMessageFor(model => model.OrderDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RequiredDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RequiredDate)
                    @Html.ValidationMessageFor(model => model.RequiredDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShippedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShippedDate)
                    @Html.ValidationMessageFor(model => model.ShippedDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShipVia, "ShipVia", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ShipVia", (IEnumerable<SelectListItem>)ViewBag.ShipVia, htmlAttributes: new { @class = "form" })
                    @Html.ValidationMessageFor(model => model.ShipVia)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Freight, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Freight)
                    @Html.ValidationMessageFor(model => model.Freight)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShipName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShipName)
                    @Html.ValidationMessageFor(model => model.ShipName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShipAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShipAddress)
                    @Html.ValidationMessageFor(model => model.ShipAddress)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShipCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShipCity)
                    @Html.ValidationMessageFor(model => model.ShipCity)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShipRegion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShipRegion)
                    @Html.ValidationMessageFor(model => model.ShipRegion)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShipPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShipPostalCode)
                    @Html.ValidationMessageFor(model => model.ShipPostalCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShipCountry, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShipCountry)
                    @Html.ValidationMessageFor(model => model.ShipCountry)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>