@model List<NorthwindWeb.Models.Orders>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <h2>Comenzi</h2>

    <p>
        @Html.ActionLink("Adauga", "Create")
    </p>
    <table id="MyTable" class="table">
        <thead>
            <tr>
                <th>
                    Nume Companie
                </th>
                <th>
                    Nume Angajat
                </th>
                <th>
                    Expeditor
                </th>
                <th>
                    Data livrare
                </th>
                <th>
                    Nume Expeditor
                </th>
                <th>
                    Adresa
                </th>
                <th>
                    Oras
                </th>
                <th>
                    Tara
                </th>
                <th>
                    Sterge
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Customer.CompanyName, "Details", new { id = item.OrderID })
                        @*@Html.DisplayFor(modelItem => item.Customer.CompanyName)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shipper.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipCountry)
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", new { id = item.OrderID })"><i class="fa fa-remove"></i></a>
                        @*@Html.ActionLink("Sterge", "Delete", new { id = item.OrderID })*@
                    </td>
                </tr>
            }
        </tbody>

    </table>

    @*<div class="row text-center">
        <div class="col-lg-12">
            Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) din @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", "Orders", new { page }))
        </div>
    </div>*@
</div>