@model PagedList.IPagedList<NorthwindWeb.Models.Orders>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <h2>Comenzi</h2>

    <p>
        @Html.ActionLink("Adauga", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Customer.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Employee.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Shipper.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShipCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShipCountry)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shipper.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipCountry)
                </td>
                <td>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.OrderID }) 
                    @Html.ActionLink("Detalii", "Details", new { id = item.OrderID }) 
                    @Html.ActionLink("Sterge", "Delete", new { id = item.OrderID })
                </td>
            </tr>
        }

    </table>

    <div class="row text-center">
        <div class="col-lg-12">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", "Orders", new { page }))
        </div>
    </div>
</div>