@model NorthwindWeb.Models.Employees

@{
    ViewBag.Title = "Detalii";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<h2>Detalii</h2>
<hr />
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Dashboard", "Home", "Dashboard")
    </li>
    <li>
        @Html.ActionLink("Angajati", "Index", "Employees")
    </li>
    <li class="active">Detalii</li>
</ol>

<div>
    <h4>Angajat</h4>
    <hr />
   
    <dl class="dl-horizontal">

        <dt>
            Nume
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Prenume
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Pozitie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Metoda de adresare
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleOfCourtesy)
        </dd>

        <dt>
            Data nasterii
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            Data angajarii
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Oras
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Region)
            </dt>

            <dd>
                @{
                    if (Model.Region.IsEmpty())
                    {
                        @:"n/a";
                    }
                    else
                    {
                        Html.DisplayFor(m => m.Region);
                    }
                }
            </dd>*@

        <dt>
            Cod Postal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            Oras
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>

        <dt>
            Interior
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

        <dt>
            Note
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.EmployeeID }) |
    @Html.ActionLink("Inapoi", "Index")
</p>
