<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Phone Studio - @ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    @*<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
  
    <link href="~/css/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
  

    <link href="~/css/dist/sb-admin-2.css" rel="stylesheet" />
   
    <!-- Custom Fonts -->
   
    <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/Dashboard.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" Studio Phone Silver", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
            </div>
           
            <!-- /.navbar-left-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            @Html.ActionLink("Dashboard", "Index", "Dashboard")
                        </li>
                        <li id="services">
                            @Html.ActionLink("Servicii", "Index", "Services")
                        </li>
                        <li id="portfolio" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produse <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li id="1columnportfolio">
                                    @Html.ActionLink("Clasic", "Products", "Products", new { category = "Classic" }, null)
                                </li>
                                <li id="2columnportfolio">
                                    @Html.ActionLink("Smartphone", "Products", "Products", new { category = "Smartphone" }, null)
                                </li>
                                <li id="2columnportfolio">
                                    @Html.ActionLink("Accesorii", "Products", "Products", new { category = "Accesorii" }, null)
                                </li>
                                <li id="2columnportfolio">
                                    @Html.ActionLink("Gadgeturi", "Products", "Products", new { category = "Gadgeturi" }, null)
                                </li>
                                <li id="2columnportfolio">
                                    @Html.ActionLink("eBook readers", "Products", "Products", new { category = "eBookReaders" }, null)
                                </li>
                            </ul>
                        </li>
                        <li id="blog" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comenzi<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li id="bloghome1">
                                    @Html.ActionLink("Lista Comenzi", "Home1", "Order")
                                </li>
                            </ul>
                        </li>
                        <li id="other" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alte informatii <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li id="fullwidthpage">
                                    @Html.ActionLink("Alte info 1", "FullWidth", "Other")
                                </li>
                                <li id="sidebarpage">
                                    @Html.ActionLink("Alte info 2", "Sidebar", "Other")
                                </li>
                                <li id="faq">
                                    @Html.ActionLink("FAQ", "Faq", "Other")
                                </li>
                            </ul>


                        <li id="about">
                            @Html.ActionLink("Despre noi", "Index", "About")
                        </li>
                        <li id="contact">
                            @Html.ActionLink("Contact", "Index", "Contact")
                        </li>
                        <li id="Log In">
                            @Html.ActionLink("Log In", "Index", "Log In")
                        </li>
                    </ul>  
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                       @RenderBody()
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
   
    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
   
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
   
    <script src="~/js/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
   
    <script src="~/js/dist/sb-admin-2.js"></script>
</body>
</html>
