<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        var isLogedIn = @(User.Identity.IsAuthenticated ? 1 : 0);
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phone Studio - @ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="@Url.Content("/css/alt info 2.css")" rel="stylesheet">
    <link href="@Url.Content("/css/Style.css")" rel="stylesheet">
    <!--Data tables-->
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->

                @Html.ActionLink(" Northwind Phone", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li id="services">
                        @Html.ActionLink("Servicii", "Index", "Services")
                    </li>
                    <li id="portfolio" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produse <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="11columnportfolio">
                                @Html.ActionLink("Clasic", "Products", "Products", new { category = "Clasice" }, null)
                            </li>
                            <li id="21columnportfolio">
                                @Html.ActionLink("Smartphone", "Products", "Products", new { category = "Smartphone" }, null)
                            </li>
                            <li id="22columnportfolio">
                                @Html.ActionLink("Accesorii", "Products", "Products", new { category = "Accesorii" }, null)
                            </li>
                            <li id="23columnportfolio">
                                @Html.ActionLink("Gadgeturi", "Products", "Products", new { category = "Gadgeturi" }, null)
                            </li>
                            <li id="24columnportfolio">
                                @Html.ActionLink("eBook readers", "Products", "Products", new { category = "eBook Reader" }, null)
                            </li>
                            <li id="25columnportfolio">
                                @Html.ActionLink("Servicii", "Products", "Products", new { category = "Servicii" }, null)
                            </li>
                        </ul>
                    </li>
                    <li id="others" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alte informatii <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="fullwidthpage">
                                @Html.ActionLink("Avantajele magazinului online", "FullWidth", "Other")
                            </li>
                            <li id="sidebarpage">
                                @Html.ActionLink("Asigurare back-up", "Sidebar", "Other")
                            </li>
                            <li id="faq">
                                @Html.ActionLink("Intrebari frecvente", "Faq", "Other")
                            </li>
                        </ul>
                    </li>

                    <li id="about">
                        @Html.ActionLink("Despre noi", "Index", "About")
                    </li>
                    <li id="contact">
                        @Html.ActionLink("Contact", "Index", "Contact")
                    </li>
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>

                    <li id="other" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="col-lg-12">
                                <form id="searchInput" action="/Products/Products">
                                    <div class="input-group">
                                        <input type="text" name="search" class="form-control searchinput" style="width:auto" placeholder="Cauta in produse">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>

        <!--shopcart icon-->
        <div class="shopcartcontainer">
            <a href="@Url.Action("Index","ShopCart")" class="shopcart-link">
                <div class="align-middle img-circle roundedshop">
                    <i class="glyphicon glyphicon-shopping-cart align-middle"></i>
                    <div class="shopcart-container-text">
                        <span id="shopcart-productcount">0</span>
                    </div>
                </div>
            </a>
        </div>

        <!-- /.container -->
    </nav>

    @RenderBody()

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Northwind Phone 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <script src="~/js/jquery.min.js"></script>

    <script src="@Url.Content("/js/script.js")"></script>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/js/ShopCart.js"></script>
    <script src="~/js/ShopCartDataTable.js"></script>
    <script src="~/js/OrderDatatable.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
