<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Phone Studio - @ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    @*<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/css/Style.css" rel="stylesheet" />
    <link href="~/css/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->


    <link href="~/css/dist/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->

    <link href="~/css/morris.css" rel="stylesheet" />
    <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    @*<link href="~/css/Dashboard.css" rel="stylesheet" />*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" Studio Phone Silver", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
            </div>

            <!-- /.navbar-left-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>

                            @Html.ActionLink("Dashboard", "Index1", "Dashboard")
                        </li>
                        <li id="services">
                            @Html.ActionLink("Servicii", "Index", "Product", new { category = "Servicii" }, null)
                        </li>
                        <li id="product">
                            @Html.ActionLink("Produse", "Index", "Product")
                        </li>

                        <li id="category" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorii <b class="caret"></b></a>
                            <ul class="nav nav-second-level">

                                @{Html.RenderAction("Menu", "Home");}

                            </ul>
                        </li>
                        <li id="orders">
                            @Html.ActionLink("Comenzi", "Index", "Orders")
                        </li>
                        <li id="reports">
                            @Html.ActionLink("Rapoarte", "Index", "Reports")
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->

    <script src="~/js/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/js/raphael/raphael.min.js"></script>
    <script src="~/js/morrisjs/morris.min.js"></script>
    <div id="sc">

    </div>
    <script>
   
        if (window.location.href.search("Dashboard") != -1) {
            var my_awesome_script = document.createElement('script');

            var host = 'http://' + window.location.host + '/js/morrisjs/morris-data.js';
            my_awesome_script.setAttribute('src', host);

            document.getElementById("sc").appendChild(my_awesome_script);
        }
    </script>
    <script src="~/js/dist/sb-admin-2.js"></script>
        @*<script>
            $.ajax({
                url: '@Html.Raw(@Url.Action("Menu", "Home"))',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    $(data).each(function (i, el) {
                        @{string i};
                        @i=el;
                            var x = '<li id=' + el + '>' +@(Html.ActionLink(i.ToString(), "Index", "Product", new { category =i }, null))+'</li>'
                        $("#category").append(x);

                    });

                }
            });
        </script>*@
    <!-- section scripts from _Layout-->
    @RenderSection("scripts", required: false)

</body>
</html>
