<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phone Studio - @ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="@Url.Content("/css/alt info 2.css")" rel="stylesheet">
    <link href="@Url.Content("/css/Style.css")" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                
                @Html.ActionLink(" Studio Phone Silver", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li id="dashboard">
                        @Html.ActionLink("Dashboard", "Index1", "Dashboard")
                    </li>
                    <li id="services">
                        @Html.ActionLink("Servicii", "Index", "Services")
                    </li>
                    <li id="portfolio" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produse <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="11columnportfolio">
                                @Html.ActionLink("Clasic", "Products", "Products", new { category = "Classic" }, null)
                            </li>
                            <li id="21columnportfolio">
                                @Html.ActionLink("Smartphone", "Products", "Products", new { category = "Smartphone" }, null)
                            </li>
                            <li id="22columnportfolio">
                                @Html.ActionLink("Accesorii", "Products", "Products", new { category = "Accesories" }, null)
                            </li>
                            <li id="23columnportfolio">
                                @Html.ActionLink("Gadgeturi", "Products", "Products", new { category = "Gadgets" }, null)
                            </li>
                            <li id="24columnportfolio">
                                @Html.ActionLink("eBook readers", "Products", "Products", new { category = "eBookReaders" }, null)
                            </li>
                            <li id="24columnportfolio">
                                @Html.ActionLink("Servicii", "Products", "Products", new { category = "Services" }, null)
                            </li>
                        </ul>
                    </li>
                    <li id="blog" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comenzi<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="bloghome1">
                                @Html.ActionLink("Lista Comenzi", "Home1", "Order")
                            </li>
                        </ul>
                    </li>
                    <li id="others" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alte informatii <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="fullwidthpage">
                                @Html.ActionLink("Avantajele magazinului online", "FullWidth", "Other")
                            </li>
                            <li id="sidebarpage">
                                @Html.ActionLink("Asigurare back-up", "Sidebar", "Other")
                            </li>
                            <li id="faq">
                                @Html.ActionLink("Intrebari frecvente", "Faq", "Other")
                            </li>
                        </ul>


                    <li id="about">
                        @Html.ActionLink("Despre noi", "Index", "About")
                    </li>
                    <li id="contact">
                        @Html.ActionLink("Contact", "Index", "Contact")
                    </li>

                    <li id="other" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="col-lg-12">
                                <form id="searchInput" action="/Products/Products">
                                    <div class="input-group">
                                        <input type="text" name="search" class="form-control searchinput" style="width:auto" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Studio Phone Silver 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="@Url.Content("/js/modern-business.js")"></script>
    <script src="@Url.Content("/js/script.js")"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
